.git/
.vs/
.vscode/
.idea/

[Bb]uild/
[Ll]ibrary/
[Ll]ogs/
[Pp]ackages/
[Oo]bj/
[Tt]emp/

/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs

/Assets/Resources/Cube/Textures/*
/Assets/Resources/Sounds/*